<button class="back-button" mat-button (click)="back()">
  Back
</button>

<div class="add-product-container">

  <mat-card class="add-product-card">

    <mat-card-header>
      <mat-card-title><h3>Add Product</h3></mat-card-title>
      <mat-card-subtitle>Add a new product to the inventory</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <form class="form-container" [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">

        <mat-form-field>
          <input matInput placeholder="Product Name" formControlName="name" [errorStateMatcher]="matcher">
          <mat-error>
          <span
            *ngIf="!productForm.get('name').valid && productForm.get('name').touched">Please enter product name</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Product Description" formControlName="description" [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!productForm.get('description').valid && productForm.get('description').touched">Please enter product description</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" placeholder="Product Price" formControlName="price"
                 [errorStateMatcher]="matcher">
          <mat-error>
          <span
            *ngIf="!productForm.get('price').valid && productForm.get('price').touched">Please enter product price</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Product Category" [formControl]="categoryControl" formControlName="category_id"
                      required>
            <mat-option>Choose a Category</mat-option>
            <mat-option *ngFor="let category of categories" value={{category.id}}>
              {{category.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="categoryControl.hasError('required')">Please choose a category</mat-error>
        </mat-form-field>

        <div class="buttons">
          <button color="primary" mat-button mat-raised-button [disabled]="!productForm.valid">Add product</button>
        </div>

      </form>

    </mat-card-content>

  </mat-card>

</div>
