<div class="user-profile" style="background: url(../../../assets/images/background/user-info.jpg) no-repeat;">

  <div class="profile-img"><img src="assets/images/users/profile.png" alt="user"></div>

  <div class="profile-text">
    <a [matMenuTriggerFor]="sdprofile" class=""> Zakayo Thuku
      <i class="ti-angle-down font-12 m-l-5"></i>
    </a>
  </div>

</div>

<mat-nav-list appAccordion>

  <mat-list-item appAccordionLink routerLinkActive="selected">

    <a class="" appAccordionToggle href="/projects">
      <!--<mat-icon>{{ }}</mat-icon>-->
      <span>Projects</span>
    </a>

  </mat-list-item>

</mat-nav-list>
