<button color="primary" class="add-product-button" mat-button mat-raised-button (click)="addProduct()">
  Add product
</button>

<div class="snapshot-container">

  <mat-grid-list class="snapshot-list" cols="4" rowHeight="4:1">

    <mat-grid-tile>
      <div class="tile-content">
        <span>Total Products</span>
        <b>{{dataSource.data.length}}</b>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="tile-content">
        <span>Out of Stock</span>
        <b>{{0}}</b>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="tile-content">
        <span>Total Sold</span>
        <b>{{dataSource.data.length}}</b>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="tile-content">
        <span>Total Categories</span>
        <b>{{5}}</b>
      </div>
    </mat-grid-tile>

  </mat-grid-list>

</div>

<div class="mat-elevation-z0">

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Product">
  </mat-form-field>

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner style="width:56px; height: 56px" [strokeWidth]="2"></mat-spinner>
  </div>

  <mat-table #table [dataSource]="dataSource" aria-label="Products"
             matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.description}}</mat-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.price}}</mat-cell>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let row">

        <button mat-mini-fab color="primary" style="margin-right: 4px" (click)="onProductClicked(row)">
          <i class="material-icons md-18">pageview</i>
        </button>

        <button mat-mini-fab color="primary" style="margin-right: 4px" (click)="editProduct(row)">
          <i class="material-icons md-18">edit</i>
        </button>

        <button mat-mini-fab color="warn" (click)="deleteProduct(row)">
          <i class="material-icons md-18">delete</i>
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

  <mat-paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[10, 50, 100, 250]">
  </mat-paginator>

</div>
