.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-container > * {
  width: 56px;
  height: 56px;
}

.add-product-button {
  position: absolute;
  top: 18px;
  right: 18px;
  float: right;
  border-radius: 56px;
  z-index: 1000;
}

.snapshot-container {
  margin-top: 16px;
  margin-bottom: 16px;
}

.snapshot-list > * {
  margin: 16px;
}

.tile-content {
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tile-content b {
  color: #1e88e5;
  font-size: 24px;
}
