.view-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-product-card {
  width: 50%;
}

.mat-card-content {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tile-content {
  height: 56px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tile-content b {
  color: #1e88e5;
  font-size: 16px;
}

.products-button {
  position: absolute;
  top: 18px;
  right: 18px;
  float: right;
  border-radius: 56px;
  z-index: 1000;
}
