<button class="back-button" mat-button (click)="back()">
  Back
</button>

<button color="primary" class="products-button" mat-button mat-raised-button (click)="gotoProducts()">
  All Products
</button>

<div class="view-product-container" *ngIf="product && category">

  <mat-card class="view-product-card">

    <mat-card-header>
      <mat-card-title><h3>{{product.name}}</h3></mat-card-title>
      <mat-card-subtitle><h5>{{product.description}}</h5></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <div class="tile-content">
        <span>Product Price</span>
        <b>Ksh. {{0.00}}</b>
      </div>

      <div class="tile-content">
        <span>Product Category</span>
        <b>{{category.name}}</b>
      </div>

    </mat-card-content>

    <!--<mat-card-actions>
      <button mat-raised-button color="primary" (click)="editProduct(product.id)">
        Edit
      </button>
      <button mat-raised-button color="warn" (click)="deleteProduct(product.id)">
        Delete
      </button>
    </mat-card-actions>-->

  </mat-card>

</div>
