.buttons {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.buttons > * {
  margin: 0 10px;
}

.edit-product-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-product-card {
  width: 400px;
}
