<div class="main-container">

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">

    <mat-sidenav #snav id="snav" class="dark-sidebar pl-xs" [mode]="mobileQuery.matches ? 'side' : 'over'"
                 fixedTopGap="0" [opened]="mobileQuery.matches" [disableClose]="mobileQuery.matches">

      <sidebar></sidebar>

    </mat-sidenav>

    <mat-sidenav-content class="page-wrapper">

      <mat-toolbar color="" class="topbar relative">

        <button mat-icon-button (click)="snav.toggle()" value="sidebarclosed">
          <i class="material-icons">menu</i>
        </button>

        <div class="navbar-header">
          <b>
            Products Manager
          </b>
        </div>

        <navbar></navbar>

      </mat-toolbar>

      <div class="page-content">

        <router-outlet>
          <app-spinner></app-spinner>
        </router-outlet>

      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
