.dashboard-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.side-nav {
  width: 200px;
  padding: 30px;
}

.main-content {
  padding: 24px;
  background: #ffffff;
}

.mat-drawer-container {
  background-color: #ffffff;
}
